<ion-header>
    <ion-navbar no-border-bottom color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
            <ion-segment-button value="unread">
                <ion-badge color="google" item-right small>{{metrics?.unread}} </ion-badge> Un-read
            </ion-segment-button>
            <ion-segment-button value="read">
                <ion-badge color="favorite" item-right small> {{metrics?.read}}</ion-badge> Read
            </ion-segment-button>
            <!--<ion-segment-button value="all">
                <ion-badge color="primary" item-right small>{{metrics?.unread + metrics?.read}} </ion-badge> All
            </ion-segment-button>-->
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content message-list">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list #messageList [virtualScroll]="messages">





        <!--<ion-item-group *virtualItem="let group" > -->

        <!--<ion-item-divider sticky color="light">
                <ion-label>
                    {{messages.d}}
                </ion-label>

                [hidden]="group.hide" <button *ngIf="group.messages.length>1" ion-button item-right color="light" (click)="deleteGroup(group)">
        <ion-icon  name="trash" color="danger"> </ion-icon>
          {{group.messages.length}} Messages
      </button>
            </ion-item-divider>-->


        <ion-item-sliding *virtualItem="let m" padding [attr.class]="m.message.viewed ? 'isRead1' : 'isRead0'">
            <button ion-item (click)="showDetails(m)" no-padding>
                    <!-- <ion-avatar item-left  [hidden]="segment=='all'">
                        <ion-img [src]="m.message.DoctorImage" ></ion-img>
                    </ion-avatar>
   -->
                    <h2 class="message-subject">{{m.message.subject}} </h2>
                    <h3 class="message-content">{{m.message.message}} </h3>

                    <ion-note item-right text-right> {{m.message.createdAt | date:'longDate' }} <br> {{m.message.createdAt | date:'shortTime' }}<br> <i>( {{m.message.createdAt | amTimeAgo}}) </i>

                    </ion-note>

                </button>
            <ion-item-options side="left">
                <button ion-button color="google" (click)="delete(m)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>

            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="favorite" (click)="reply(m.message)">
        <ion-icon name="mail"></ion-icon>
        Reply
      </button>
            </ion-item-options>
        </ion-item-sliding>



        <!--                        </ion-item-group>
                <ion-col col-12 col-md-12 align-self-stretch align-self-center *ngFor="let m of messages">
                    <ion-card class="message-card">

                        <ion-card-header  >
                            <button ion-item detail-none (click)="showDetails(m)"  [attr.class]="m.viewed==0 ? 'isRead1' : 'isRead0'">
                              {{m.subject}}
                            </button>
                        </ion-card-header>

                        <ion-card-content class="outer-content">
                            <h3>{{m.message}}</h3>
                        </ion-card-content>

                        <ion-row no-padding>
                            <ion-col text-left col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="reply(m)">
                                  <ion-icon name='undo'></ion-icon>
                                Reply
                                </button>
                            </ion-col>
                            <ion-col text-center  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showDetails(m)">
          <ion-icon name='share-alt'></ion-icon>
         Details
        </button>
                            </ion-col>
                            <ion-col text-right  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showContactInfo(m)">
          <ion-icon name='chatboxes'></ion-icon>
          Contact
        </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>-->

    </ion-list>


</ion-content>