 ion-item-divider {
     //background-color:#DBDBDB; 
     border-left: 2px solid map-get($colors, primary);
     padding-left: 10px;
 }
 
 ion-item-sliding {
     background-color: red;
 }
 
 page-message-list {
     .scroll-content {
         background: #EDEDED;
     }
     ion-item-sliding .message-card {
         height: 100%;
         display: flex;
         flex-direction: column;
         ion-card-content {
             flex: 1 1 auto;
         }
         .isRead1 {
             background-color: map-get($colors, light);
             border-left: 0px solid red;
             padding-left: 10px;
             font-weight: bold;
         }
         .isRead0 {
             border-left: 2px solid map-get($colors, secondary);
             padding-left: 10px;
             background-color: map-get($colors, light);
             background: transparent;
         }
     }
     .message-card ion-card-header .item {
         padding: 4px 16px;
     }
     .message-card ion-card-content {
         padding-left: 0;
         padding-right: 0;
     }
 }
 
 .message-subject {
     cursor: pointer;
     white-space: normal;
     font-size: larger;
     color: map-get($colors, dark);
 }
 .ion-item-divider0{
   border-left: 2px solid map-get($colors, google);
 }
 .ion-item-divider1{
   border-left: 2px solid map-get($colors, favorite);
 }


 .message-content {
     cursor: pointer;
     text-overflow: ellipsis;
     color: map-get($colors, light);
 }
 
 // .ios, .md {
 //     page-home {
 //         .header-image {
 //             background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
 //             height: 40vh;
 //         }
 //         .main-content {
 //             background-color: map-get($colors, dark);
 //             box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
 //         }
 //         .scroll-content {
 //             padding-top: 0 !important;
 //         }
 //         ion-header {
 //             backdrop-filter: blur(8px);
 //         }
 //         ion-navbar {
 //             opacity: 0.4;
 //             box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
 //         }
 //         ion-segment {
 //             padding: 0px 12px;
 //             opacity: 0.7;
 //             position: relative;
 //             top: -50px;
 //         }
 //         ion-segment-button {
 //             border-color: map-get($colors, primary) !important;
 //             color: #fff !important;
 //         }
 //         ion-card {
 //             background-color: #fff;
 //             width: 100%;
 //             margin: 0;
 //             margin-bottom: 25px;
 //             position: relative;
 //             top: -30px;
 //         }
 //         ion-card:last-of-type {
 //             margin-bottom: 0 !important;
 //         }
 //         ion-item {
 //             background-color: #fff;
 //         }
 //     }
 // }