<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stats</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentFilter()">
          <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content map-page">
  <!-- <ion-card ion-item no-padding *ngIf="auth.authenticated()">
    <ion-item *ngIf="auth.getPicture()">
      <ion-avatar item-left>
        <img src="{{ auth.getPicture() }}">
      </ion-avatar>
      <h2>{{ auth.name }}</h2>
      <p>{{ auth.email }}</p>
    </ion-item>
    <ion-note item-right text-right>
      <i>{{past}}
        <br>surgeries</i>
    </ion-note>
  </ion-card> -->

  <ion-list>
  
    <ion-item>
      <button  (click)="completedByRange()">Go</button>
    </ion-item>



    <ion-item item-left>
      <ion-select [(ngModel)]="metricsSelected" (ionChange)="changeUnique()">
        <ion-option *ngFor="let item of metrics; let i=index;" [value]="item">{{item}}</ion-option>
      </ion-select>
      <ion-note item-right>Count: {{total}} </ion-note>
    </ion-item>
  </ion-list>

  <ion-list>

   <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType" height="100px;"></canvas> 
    <ion-list-header color="light">
      <h1>
        <strong>Metrics for {{activeMetric}}</strong>
      </h1>
    </ion-list-header>
    <ion-item *ngFor="let u of uniq; let i = index;" [hidden]="u.name?.length==0" no-lines>
      <ion-avatar item-left>
        <h1>{{u.count}}</h1>
      </ion-avatar>
      <h2>{{u.name}}</h2>
    </ion-item>
  </ion-list>



</ion-content>