$categories: ( ionic: color($colors, primary), angular: #AC282B, communication: #8E8D93, tooling: #FE4C52, services: #FD8B2D, design: #FED035, workshop: #69BB7B, food: #3BC7C4, documentation: #B16BE3, navigation: #6600CC, );
@function auxiliary-categories() {
    @return map-remove($categories);
}

page-pulse {
    @each $track,
    $value in auxiliary-categories() { 
        ion-item-divider {
                border-left: 2px solid map-get($colors, primary); 
            border-left: none;
            padding-left: 10px;
        }
    }

 ion-item-divider {
     //background-color:#DBDBDB; 
     border-left: 2px solid map-get($colors, primary);
     padding-left: 10px;
 }

    ion-card-header {
        font-weight: bold;
    }
    ion-item-sliding ion-note {
        font-size: 12px;
        align-self: flex-end;
        margin-top: 14px;
    }
}
.ion-item-divider-billing  { 
    border-left: 2px solid map-get($colors, favorite);
    padding-left: 10px;
    color:map-get($colors, favorite);
}
.ion-item-divider-cancelled  { 
    border-left: 2px solid map-get($colors, google);
    padding-left: 10px;
    color:map-get($colors, google);
}
.about-info ion-card-header {
    font-weight: bold;
}

ion-card {
    position: relative;
    text-align: center;
}

ion-note {
    font-size: 12px;
    align-self: flex-end;
    color: red;
    margin-top: 14px;
}
.card-name{
    background: black;
}
.card-title {
    position: absolute;
    top: 10%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 15%;
    width: 100%;
    color: #fff;
}

.card-substatus {
    font-size: 1.0em;
    position: absolute;
    top: 35%;
    width: 100%;
    color: #fff;
}

.pulse-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    ion-card-content {
        flex: 1 1 auto;
    }
}

//     .pulse-card ion-avatar img {
//   max-width: 50px;
// }
//   .pulse-card  img {
//   max-width: 340px;
// }
.pulse-card ion-card-header .item {
    padding: 4px 16px;
}

.pulse-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
}

.code-info {
    white-space: pre-wrap;
}