<ion-card #cardItem>
    <div>
        <img src="assets/img/rooms/s{{idx+1}}.PNG" />
        <!-- <div class="card-title">{{s.surgery.initials | uppercase}}</div>*ngIf="s.occurs==='today'" -->

        <div class="card-subtitle">{{s.surgery.preferenceCardName}}</div>
    </div>
    <ion-list>
        <ion-item-sliding>
            <ion-item border lines>
                <ion-avatar item-left>
                    <avatar [avatardata]="avatar" [avatarText]="s.surgery.initials"></avatar>
                </ion-avatar>

                <!--   <p style="white-space: pre-wrap">   <strong>Patient:</strong> {{s.surgery.initials | uppercase}}</p>
                 [hidden]="(s.occurs==='today')" <p style="white-space: pre-wrap">
                    <strong>Patient:</strong> {{s.surgery.initials | uppercase}}</p>

                <p style="white-space: pre-wrap">
                    <strong>Surgery:</strong> {{s.surgery.patient | uppercase}}</p>
                <p style="white-space: pre-wrap">
                     <strong>Card:</strong> {{s.surgery.preferenceCardName}}</p> -->



                <p>
                    <strong>Status:</strong> {{s.surgery.admissionStatus}}</p>
                <p>
                    <strong>Duration:</strong> {{s.surgery.surgeryTime}}</p>
                <p class="text ion-item-divider-cancelled" color="google" *ngIf="s.surgery.cancelled">
                    <ion-icon name="close-circle" item-left small></ion-icon>
                    <strong>Cancelled</strong>
                </p>
                <p class="text ion-item-divider-billing" color="favorite" *ngIf="s.surgery.completed">
                    <ion-icon name="cash" item-left small></ion-icon>
                    <strong>Billed</strong>
                </p>

                <!-- <ion-note item-right>
                    <i>
                        <strong>From </strong> {{ s.surgery.term | amUtc | amDateFormat: 'h:mm a'}}
                        <br/>
                        <strong>To</strong> {{ s.surgery.term | amUtc | amAdd: s.minutes : 'minutes' | amDateFormat: 'h:mm a'}} </i>
                </ion-note> -->
            </ion-item>
            <ion-item-options side="left" *ngIf="(!s.surgery.cancelled && !s.surgery.completed &&  s.occurs!=='future')">
                <button ion-button color='favorite' (click)="sendBilling(s,cardItem)">
                    <ion-icon name="cash" item-left small></ion-icon>
                    Billing
                </button>
                <button ion-button color="google" (click)="cancelSurgery(s,cardItem)">
                    <ion-icon name="close-circle" item-left small></ion-icon>
                    Cancel
                </button>
            </ion-item-options>


            <ion-item-options side="right" *ngIf="(!s.surgery.cancelled && !s.surgery.completed)">
                <button ion-button color="primary" (click)="showEditCodes(s,'CPT')">
                    <ion-icon name="barcode"></ion-icon>
                    CPT
                </button>
                <button ion-button color="facebook" (click)="showEditCodes(s,'DX')">
                    <ion-icon name="barcode"></ion-icon>
                    DX
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>



    <ion-card-content>
        <ion-list>
            <ion-item-divider color="light" small>Actions</ion-item-divider>
            <button ion-item (click)="showEditCodes(s,'CPT')" [disabled]="(s.surgery.cancelled || s.surgery.completed)">
                <ion-icon name="barcode" item-left small color="primary"></ion-icon>
                <h2>CPT Codes</h2>
                <p class="text code-info">{{s.surgery.cpt}}</p>
                <ion-note item-right>{{s.cptArray?.length}} codes</ion-note>
            </button>
            <button ion-item (click)="showEditCodes(s,'DX')" [disabled]="(s.surgery.cancelled || s.surgery.completed)">
                <ion-icon name="barcode" item-left small color="facebook"></ion-icon>
                <h2>DX Codes</h2>
                <p class="text code-info">{{s.surgery.diagnosisCode}}</p>
                <ion-note item-right>{{s.dxArray?.length}} codes</ion-note>
            </button>




            <!--BILLING BUTTON-->
            <ion-item-sliding *ngIf="(!s.surgery.cancelled && !s.surgery.completed && s.occurs!=='future')">
                <button ion-item clear item-left (click)="sendBilling(s,cardItem)" class="ion-item-divider-billing">
                    <ion-icon name="cash" item-left small color="favorite"></ion-icon>
                    <h2>Billing</h2>
                    <p>Send billing information to coordinator</p>
                    <ion-note item-right>{{s.surgery.billingCoordinatorName}}</ion-note>
                    <ion-icon name="more" item-right small color="facebook"></ion-icon>
                </button>

                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="openContact(s.surgery.billingCoordinatorName,s.surgery.billingCoordinatorEmail,s.surgery.billingCoordinatorPhone)">
                        <ion-icon name="mail"></ion-icon>
                    </button>
                    <button ion-button color="light" (click)="openContact(s.surgery.billingCoordinatorName,s.surgery.billingCoordinatorEmail,s.surgery.billingCoordinatorPhone)">
                        <ion-icon name="call"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>




            <!--CANCEL BUTTON-->
            <ion-item-sliding *ngIf="(!s.surgery.cancelled && !s.surgery.completed)">
                <button ion-item clear item-left (click)="cancelSurgery(s,cardItem)" class="ion-item-divider-cancelled">
                    <ion-icon name="close-circle" item-left small color="danger"></ion-icon>
                    <h2>Cancel</h2>
                    <p>Cancel surgery.</p>
                    <ion-note item-right>{{s.surgery.coordinatorName}} </ion-note>
                    <ion-icon name="more" item-right small color="facebook"></ion-icon>
                </button>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="openContact(s.surgery.coordinatorName,s.surgery.coordinatorEmail,s.surgery.coordinatorPhone)">
                        <ion-icon name="mail"></ion-icon>
                    </button>
                    <button ion-button color="light" (click)="openContact(s.surgery.coordinatorName,s.surgery.coordinatorEmail,s.surgery.coordinatorPhone)">
                        <ion-icon name="call"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
</ion-card>